
body {
  display: flex;
  margin: 0;
  font-family: Arial;
  font-size: 18px;
}

@font-face {
  font-family: norse-bold;
  src: url(Norse-Bold.otf);
}

.left {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex: 4;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex: 6;
  padding-left: 34px;
  background-color: #fafafa;
}

img[src="bg-leaves.jpg"] {
  width: 122%;
  min-height: 100vh;
  margin-left: -50px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  color: white;
  top: 9.5rem;
  width: 100%;
  position: absolute;
  z-index: 9;
  font-family: norse-bold, sans-serif;
  font-size: 76px;
  padding: 4px 0;
}

img[src="odin-lined.png"] {
  width: 72px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.textbox {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 500px;
  background-color: white;
  gap: 10px;
  margin-top: 8px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

fieldset > ul {
  flex: 1;
  padding: 0;
  margin: 0;
}

label {
  font: .6rem sans-serif;
  font-weight: bold;
}

input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  font: 14px sans-serif;
  padding: 4px;
  width: 200px;
}

input:valid {
  border-color: green;
}

.error:invalid {
  border-color: red;
}

.error:invalid + span::after {
  display: block;
  content: "*Passwords do not match";
  padding: 0;
  margin: 2px 0 0 0;
  font-size: 10px;
  color: darkred;
  font-weight: bold;
}

.error:valid + span::after {
  display: block;
  content: "match";
  opacity: 0;
  margin: 2px 0 0 0;
  font-size: 10px;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 1px 3px 5px #d3d3d3;
}

.forms-and-heading {
  background-color: white;
  margin-left: -34px;
  padding-left: 34px;
  padding-top: 16px;
  padding-bottom: 22px;
  box-shadow: 1px 3px 5px #d3d3d3;
}

.pitch {
  margin-top: 100px;
  font-weight: 900;
  padding: 0;
  margin-bottom: 24px;
}

.right > p + p {
  font-weight: 900;
  padding: 0;
  margin: 0 0 46px 0;
}

button {
  background-color: #596D48;
  color: white;
  font-weight: 900;
  margin-top: 28px;
  padding: 12px 42px;
  border-radius: 8px;
  box-shadow: 2px 3px 5px #d3d3d3;
}

.right > p:last-child > a {
  text-decoration: none;
  color: #596D48;
  font-weight: bold;
}

  .right > p:last-child {
    margin-top: 30px;
    font-size: 14px;
  }

.credit {
  font-size: 14px;
  position: absolute;
  color: white;
  bottom: 5px;
  padding: 0;
  margin: 0;
}

.credit > a {
  color: white;
}